<div class="container">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="page-header">
                <h3>Editar Artigo</h3>
            </div>
            <%= render 'form', artigo: @artigo %>
        </div>
    </div>
</div>