<div class="container">
    <div class="row">
        <div class="col-md-3 hidden-xs">
            <%= render 'filtro' %>
        </div>
        <div class="col-md-9">
            <%= render 'listar' %>
        </div>
    </div>
</div>