<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Imobiliária Buenos Aires</h1>
    
    <p>
        <strong>Imóvel:</strong> <%= @imovel %><br/>
        <%= @link %>
    </p>

  </body>
</html>