<div class="container">
        <div class="panel panel-default">
            <div class="panel-body">
            <div class="page-header">
                <h3>Novo tipo</h3>
            </div>
            <%= render 'form', tipo: @tipo%> 
            </div>
        </div>
    </div>
      
      
      