<div class="container">
    <div class="panel panel-default">
        <div class="panel-body">
        <div class="page-header">
            <h3>Nova categoria</h3>
        </div>
        <%= render 'form', categoria: @categoria%> 
        </div>
    </div>
</div>
  
  
  