<div class="container">
  <div class="panel panel-default">
    <div class="panel-body">
      <div class="page-header">
        <h3>Editar cidade</h3>
      </div>
      <%= render 'form' %>
    </div>
  </div>
</div>


