// Place all the styles related to the fotos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.thumb-gallery{
    width: 145px;
    height:  145px;
    float: left;
    margin-right: 7px;
    margin-top: 5px;
    margin-bottom: 5px;
}