// Place all the styles related to the fotos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.thumb-gallery{
    width: 150px;
    height:  150px;
    float: left;
    margin-top: 5px;
    margin-bottom: 15px;
    margin-left: 5px;
}
.img-capa{
    float: left;
    margin-left: 5px;
    margin-top: 5px;
 
}